In [2]:
import pandas as pd
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [7]:
m=pd.Period('2011-01',freq='M')
m

Period('2011-01', 'M')

In [8]:
m.start_time
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [9]:
m+1

Period('2011-02', 'M')

In [13]:
d=pd.Period('2016-02-28',freq='d')
d

Period('2016-02-28', 'D')

In [17]:
d+2

Period('2016-03-01', 'D')

In [18]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [19]:
h+1

Period('2017-08-16 00:00', 'H')

In [21]:
h+pd.offsets.Hour(5)

Period('2017-08-16 04:00', 'H')

In [26]:
q=pd.Period('2017Q1',freq='Q-Jan')
q

Period('2017Q1', 'Q-JAN')

In [27]:
q+1

Period('2017Q2', 'Q-JAN')

In [28]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [29]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [30]:
q.asfreq('M',how='start')

Period('2016-02', 'M')

In [31]:
q2=pd.Period('2018Q2',freq='Q-Jan')
q2

Period('2018Q2', 'Q-JAN')

In [32]:
q2-q

In [34]:
indx =pd.period_range('2011','2017',freq='Q-Jan')
indx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [35]:
indx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [36]:
indx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [38]:
indx =pd.period_range('2011',periods=10,freq='Q-Jan')
indx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [39]:
import numpy as np
pd=pd.Series(np.random.randn(len(indx)),indx)
pd

2011Q4   -0.938989
2012Q1    0.377257
2012Q2    0.495229
2012Q3    0.411251
2012Q4    0.257060
2013Q1    0.958512
2013Q2    2.431964
2013Q3   -0.601319
2013Q4    1.307297
2014Q1    0.112410
Freq: Q-JAN, dtype: float64

In [41]:
pd.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [43]:
pd['2011':'2013']

2011Q4   -0.938989
2012Q1    0.377257
2012Q2    0.495229
2012Q3    0.411251
2012Q4    0.257060
2013Q1    0.958512
2013Q2    2.431964
2013Q3   -0.601319
2013Q4    1.307297
2014Q1    0.112410
Freq: Q-JAN, dtype: float64

In [44]:
ps=pd.to_timestamp()
ps

2010-11-01   -0.938989
2011-02-01    0.377257
2011-05-01    0.495229
2011-08-01    0.411251
2011-11-01    0.257060
2012-02-01    0.958512
2012-05-01    2.431964
2012-08-01   -0.601319
2012-11-01    1.307297
2013-02-01    0.112410
Freq: QS-NOV, dtype: float64

In [45]:
ps.to_period()

2010Q4   -0.938989
2011Q1    0.377257
2011Q2    0.495229
2011Q3    0.411251
2011Q4    0.257060
2012Q1    0.958512
2012Q2    2.431964
2012Q3   -0.601319
2012Q4    1.307297
2013Q1    0.112410
Freq: Q-DEC, dtype: float64

In [66]:
import pandas as pd
df=pd.read_csv('timeseries7.csv')
df

   LineItem  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [67]:
df.set_index("LineItem",inplace=True)
df = df.T
df

LineItem  Revenue  Expenses  Profit
2017Q1     115904     86544   29360
2017Q2     120854     89485   31369
2017Q3     118179     87484   30695
2017Q4     130936     97743   33193
2018Q1     117542     87688   29854

In [68]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [69]:
df.index=pd.PeriodIndex(df.index,freq='Q-Jan')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [70]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

LineItem  Revenue  Expenses  Profit Start Date
2017Q1     115904     86544   29360 2016-02-01
2017Q2     120854     89485   31369 2016-05-01
2017Q3     118179     87484   30695 2016-08-01
2017Q4     130936     97743   33193 2016-11-01
2018Q1     117542     87688   29854 2017-02-01

In [71]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

LineItem  Revenue  Expenses  Profit Start Date                      End Date
2017Q1     115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2     120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3     118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4     130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1     117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999